<div>
    <h1 align="middle">Корзина</h1>
    <span ng-show="cart.items.length == 0">Корзина пуста</span>
    <table class="table" ng-show="cart.items.length > 0">
        <thead>
        <tr align="center">
            <th class="th" width="100">Название</th>
            <th class="th" width="300">Количество</th>
            <th class="th" width="300">Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in cart.items">
            <td class="td">{{i.productTitle}}</td>
            <td class="td">
                <button class="btn-circle btn-primary" ng-click="decrementItem(i.productId)">-</button>
                {{i.quantity}}
                <button class="btn-circle btn-primary" ng-click="incrementItem(i.productId)">+</button>
                <button class="btn-circle btn-danger" ng-click="removeItem(i.productId)">X</button>
            </td>
            <td class="td">{{i.pricePerProduct + ' x ' + i.quantity + ' = ' + i.price}}</td>
        </tr>
            <td></td>
            <td></td>
            <td class="td">{{'Итого: ' + cart.totalPrice}}</td>
        </tbody>
    </table>
    <p></p>
    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
</div>