<div>
    <p></p>
    <h3 align="middle">Профиль</h3>
    <p>{{'Имя пользователя: ' + userProfile.username}}</p>
    <p>{{'Имя: ' + userProfile.firstName}}</p>
    <p>{{'Фамилия: ' + userProfile.lastName}}</p>
    <p>{{'E-Mail: ' + userProfile.email}}</p>
    <br/>
    <br/>
    <h1 align="middle">Мои заказы</h1>
    <table class="table">
        <thead>
        <tr align="center">
            <th class="th" width="100">Название</th>
            <th class="th" width="300">Количество</th>
            <th class="th" width="300">Цена</th>
        </tr>
        </thead>

        <tbody ng-repeat="ord in orders">
        <td colspan="3" height="30" ></td>
        <tr>
            <td colspan="3" class="td">{{ord.orderName}}</td>
        </tr>
        <tr ng-repeat="i in ord.items">
            <td class="td">{{i.productTitle}}</td>
            <td class="td">{{i.quantity}}</td>
            <td class="td">{{i.pricePerProduct + ' x ' + i.quantity + ' = ' + i.price}}</td>
        </tr>
            <td colspan="3" class="td">{{'Итого: ' + ord.price}}</td>
        </tbody>
    </table>
</div>